streamlit
streamlit-aggrid-v2
streamlit-option-menu
streamlit-aggrid
pandas
numpy
plotly
bcrypt
fuzzywuzzy
python-Levenshtein
reportlab
openpyxl
jinja2
python-dotenv
pydantic
PyJWT
Pillow
SQLAlchemy
xlrd
